*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    padding: 80px 0px 0px;
}

h2{
    font-size: 2.0em;
    text-align: center;
}
h3{
    font-size: 1.2em;
    text-align: center;
}
p{
    font-size: 1.25em;
}
header{
    background-color: rgb(240, 216, 184);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    font-weight: bold;
}
.logo{
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.logo img {
    height: 100px; width: 100px;
    margin-right: 0px;
    object-fit: cover;
    line-height: 80px;
}
.nav{
    display: flex;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;

}
.nav-link{
    color: black;
    text-decoration: none;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-items{
    font-size: 14px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover,
.nav-menu-link_active{
    color: white;
    background-color: rgb(17, 14, 14);
    transition: 0.7s;
}
.nav-toggle{
        color: white;
        background: none;
        border:none;
        font-size: 30px;
        padding: 0 20px;
        line-height: 60px;
        
        display: none;
}
button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
    background-color: white;
}
button:hover{
    background-color: rgb(240, 216, 184);
}
#carreras{
    max-width: 900px;
    margin: auto;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;

}
#carreras p{
    display: none;
}
#carreras .container{
    padding: 100px 0px;
}
#carreras h2{
    margin-top: 0;
    font-size: 3.2em;
}
#carreras .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 30px;
    object-fit: cover;
    
}
.carta:first-child{
    background-image: url("/IMG/Estilista.jpg");
    color: burlywood;

}
.carta:nth-child(2){
    background-image:url("/IMG/Barbería.jpg");

    color: burlywood;
}
.carta:last-child{
    background-image:url("/IMG/Manicura.jpg");

    color: burlywood;
}
@media (max-width: 768px){
    body{
        padding-top: 60px;
    }
    header{
        height: 100px;
    }
    .logo{
        font-size: 14px;
        padding: 0 40px;
    }
    .logo img {
        line-height: 60px;
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: rgb(209, 186, 152);
        position: fixed;
        left: 0;
        top: 100px;
        width: 100%;
        padding: 70;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.7s;
    }
    .nav-menu-items{
        padding: 20px;
        line-height: 70px;
    }
    .nav-menu-link:hover,
    .nav-menu-link_active{
        color: white;
        background: none;
    }
    .nav-toggle{
        display: block;
        background-color: white;
        color: black;
    }
    .nav-menu_visible{
        left: 0;
    }
}
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(240, 216, 184); 
    height: 200px;
    margin: 0%;
}
footer div{
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
@media (min-width: 769px){
    #carreras p{
        background-color: rgba(0, 0, 0, 0.568);
        color: burlywood;
        display: block;
    }
}