*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    padding: 80px 0px 0px;
}
button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
    background-color: white;
    align-items: center;
}
button:hover{
    background-color: rgb(240, 216, 184);
}
header{
    background-color: rgb(240, 216, 184);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.logo{
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.logo img {
    height: 100px; width: 100px;
    margin-right: 0px;
    object-fit: cover;
    line-height: 80px;
}
.nav{
    display: flex;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;

}
.nav-link{
    color: black;
    text-decoration: none;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-items{
    font-size: 14px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover{
    color: white;
    background-color: black;
    transition: 0.7s;
}
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(240, 216, 184); 
    height: 200px;
    margin: 0;
}
footer div{
    text-align: center;
    padding: 20px;
    font-weight: bold;
}